<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Style File</title>
</head>
  <body>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a>
    <h1>The Style File</h1>
    <p>A closet review platform.</p>
  </body>
</html>
